/* colors */
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
/* font weights */
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
/* box shadows */
$shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
$shadow-dark: 0 2rem 5rem rgba(0, 0, 0, 0.2);
/* animations */
$animation-moveInLeft: moveInLeft 1s ease-out;
$animation-moveInRight: moveInRight 1s ease-out;
$animation-moveInBottom: moveInBottom 0.5s ease-out 0.75s backwards;
$animation-point: point 1s ease-in-out infinite;
$animation-slideInBckCenter: slide-in-bck-center 1s ease-out;

/* font sizes */
$default-font-size: 1.6rem;

/* grid */
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
