@use "../abstracts/variables";

.grid {
  margin: 0 auto;

  display: grid;
  grid-template-columns:
    [center-start]
    repeat(12, [col-start] minmax(min-content, 9.5rem) [col-end])
    [center-end];
  column-gap: variables.$gutter-horizontal;
  row-gap: variables.$gutter-vertical;
}
