@use "../abstracts/variables";

.header {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: min-content 1fr;
  grid-column: 1/-1;
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(variables.$color-primary-light, 0.8),
      rgba(variables.$color-primary-dark, 0.8)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;

  &__logo {
    height: 3.5rem;
    grid-column: center-start;
    margin: 2rem;
    animation: variables.$animation-slideInBckCenter;
  }

  &__text-box {
    display: grid;
    justify-items: center;
    text-align: center;
    grid-column: center-start/ center-end;
    align-self: center;
    transform: translateY(-20%);
  }
}
