body {
  font-family: "Lato", sans-serif;
  font-weight: $font-weight-normal;
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 3rem;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: $font-weight-normal;
    letter-spacing: 3.5rem;
    animation: $animation-moveInLeft;

    /* 
      animation-delay: 3s;
      animation-iteration-count: 3;
      */
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: $font-weight-light;
    letter-spacing: 1.75rem;
    animation: $animation-moveInRight;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: $font-weight-bold;
  display: inline-block;
  background-image: linear-gradient(
    270deg,
    $color-primary-light,
    $color-primary-dark
  );
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
  animation: Gradient 3s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
  &:hover {
    transform: skewY(-4deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;
  &:not(:last-child) {
    margin-bottom: 4rem;
  }
}
