@use "../abstracts/variables";

.section-about {
  background-color: variables.$color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;

  &__content {
    align-items: center;
  }

  &__copy,
  &__media {
    grid-column: span 6;
  }
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba(variables.$color-primary-light, 0.8),
      rgba(variables.$color-primary-dark, 0.8)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;
  background-position: center;
  transform: skewY(-7deg);
  margin-top: -10rem;

  & > * {
    transform: skewY(7deg);
  }

  &__grid {
    > .section-features__item {
      grid-column: span 3;
    }
  }
}

.section-tours {
  background-color: variables.$color-grey-light-1;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem;

  &__grid {
    > .section-tours__item {
      grid-column: span 4;
    }
  }
}

.section-stories {
  position: relative;
  padding: 15rem 0;
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    variables.$color-primary-light,
    variables.$color-primary-dark
  );
}

.book {
  background-image: url(../img/nat-10.jpg);
  background-size: cover;
  border-radius: variables.$border-radius;
  height: 50rem;
}

@media (max-width: 56.25em) {
  .section-about__content > *,
  .section-features__grid > .section-features__item,
  .section-tours__grid > .section-tours__item {
    grid-column: span 12;
  }
}
